/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@500&display=swap");

/* global properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end of global properties */

/* variables */
:root {
  --background-clr: #ffefd3;
  --secondary-clr: #ffc49b;
  --primary-clr: #001b2e;
  --primary-light: #adb6c4;
  --clr-grey: #617d98;
  --ff-primary: "Oswald", sans-serif;
  --ff-secondary: "Raleway", sans-serif;
  --spacing: 0.2rem;
}
/* end of variables */

body,
html {
  height: 100%;
}

body {
  background-color: var(--background-clr);
  line-height: 1.5;
}

/* header */
.banner {
  background: url(./main-image.jpeg) no-repeat center/cover;
  min-height: 50%;
  position: relative;
}

header nav > ul {
  display: flex;
  font-family: var(--ff-primary);
  background-color: #555;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
  padding: 0.2em;
  color: var(--primary-clr);
  font-size: 2em;
}

nav li:hover {
  border-bottom: 5px solid var(--secondary-clr);
  cursor: pointer;
}

.introduction {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction h1 {
  text-transform: capitalize;
  color: var(--primary-light);
}

.introduction p {
  font-family: var(--ff-secondary);
  color: var(--secondary-clr);
  letter-spacing: var(--spacing);
}

.content-divider {
  height: 0.75em;
  background-color: var(--primary-clr);
  background-image: linear-gradient(to right, grey, black, grey);
}

#about {
  margin: 1em;
}

.img {
  float: left;
  border: 1px solid var(--primary-clr);
  border-radius: 2em;
  margin-right: 2em;
}

p#about-content::before {
  content: "Hi, I'm Tanvi. Nice to meet you.";
  font-size: 1.75em;
  color: var(--clr-grey);
  display: block;
  text-align: center;
}
#about-content {
  margin-left: 2em;
  font-size: 1.5em;
  font-family: var(--ff-secondary);
  text-align: justify;
}

@media screen and (min-width: 1500px) {
  .banner {
    min-height: 100%;
  }
  .introduction h1 {
    font-size: 5em;
  }
  .introduction p {
    font-size: 1.5em;
  }
}
